{% extends "main.html" %}

{% set active_page = "Graph"%}

{% block title %}CORGIS Data set{% endblock %}

{% block content %}
<script>
	window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,

		title:{
			text:"Tallest Buildings in the US"
		},
		axisX:{
			interval: 1
		},
		axisY2:{
			interlacedColor: "rgba(1,77,101,.2)",
			gridColor: "rgba(1,77,101,.1)",
			title: "Height (m)"
		},
		data: [{
			type: "bar",
			name: "companies",
			axisYType: "secondary",
			color: "#014D65",
			dataPoints: [
			{{points}}

			]
		}]
	});
	chart.render();

	}
</script>
{% endblock %}
