{% extends "main.html" %}

{% set active_page = "Graph"%}

{% block title %}CORGIS Data set{% endblock %}

{% block content %}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script>
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
	theme: "dark",
	animationEnabled: true,
	title:{
		color:"rgb(120, 10, 50)",
		text:"Tallest US Skyscrapers"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		gridColor: "rgba(255,50,50,.3)",
		title: "Height(m)"
	},
	data: [{
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: [
			{{points}}
		]
	}]
});
chart.render();
}
</script>
{% endblock %}
